.myTimesTable {
  width: 100%;
  overflow-x: auto; }
  .myTimesTable > table {
    border: 1px solid #DDD;
    min-width: 100%;
    border-spacing: 0;
    border-collapse: collapse; }
    .myTimesTable > table td {
      border: 1px solid #DDDDDD;
      padding: 5px 2px; }
    .myTimesTable > table td.yt .T {
      border: 1px solid;
      height: 100%; }
      .myTimesTable > table td.yt .T .H {
        padding: 3px;
        border-bottom: 1px solid;
        text-align: center;
        text-transform: uppercase; }
      .myTimesTable > table td.yt .T .B {
        padding: 3px;
        text-align: center; }
    .myTimesTable > table .days td {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      border: 1px solid #DDD;
      text-transform: uppercase; }
    .myTimesTable > table .days td.col {
      min-width: 130px; }

/*# sourceMappingURL=myTimesTable.css.map */
